
:root {
  /* Variables */
  --app-width: 1800px;
  --font-color: #36454F;

  /* Colors */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: normal;
  color: var(--font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


input, textarea {
  font-family: inherit;
  font-size: 1em;
  padding: 0.6em 1em;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  transition: border-color 0.25s;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
