.home-container {
    gap: 10px;
    width: 100%;
    max-width: var(--app-width);
    padding: 25px;
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    align-items: flex-start;
}

.home-column-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 33%;
}

.deck-list {
    display: flex;
    flex-direction: column;
}

.deck-editor-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    width: 100%;
    height: 100vh;
    max-height: 720px;
    /* max-width: 1024px; */
}

.card-input-container {
    width: 100%;
    height: 100%;
}

.card-input {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.save-container{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.deck-select-container {
    position: relative;
    display: flex; /* or 'block' depending on your layout needs */
    align-items: center;
    justify-content: center;
}

.deck-select-btn {
    width: 100%;
    background-color: transparent !important;
    border-bottom: 1px solid lightgray !important;
    color: var(--font-color) !important;
    text-align: left !important;
    border-radius: 0px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px !important;
}

.deck-select-btn:hover {
    background-color: lightgray !important;
}

.deck-select-btn-text {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.kebab-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5px;
    z-index: 500;
}

.kebab-btn {
    background-color: transparent !important;
    border: none !important;
    color: var(--font-color) !important;
    padding: 0px !important;
    margin: 0px !important;
    z-index: 500;
}

.delete-deck-btn {
    color: darkred;
}