.venv
api/utils/__pycache__/*
api/models/__pycache__/*
api/services/__pycache__/*
api/.venv
__pycache__/
*.pyc
*.pyo
models/__pycache__/
services/__pycache__/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# Build artifacts
*.log
npm-debug.log*
.DS_Store